.grid-app{

}
.theme-icon{

}
body{
}
.theme-switcher{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.theme-switcher svg{
    color: white;
    width: 100%;
    padding-top: 15%;

}
h1{
    text-align: center;
    padding: 3rem 1rem;
    font-size: 2rem;
    font-weight: bold;
}
.grids{
    padding: 1rem
}
.grid-item{
    /* min-width: 24rem; */
}